<style>
    {# Supprimez les balises inutiles ci-dessous #}
    {# #modalParent {
        position: relative;
    } #}
    .modal {
        position: absolute;
        margin-top: 0px;
    }
    .button {
        margin: 10px;
    }
    .toDisplay {
        display: block;
    }
    .dontDisplay {
        display: none;
    }
</style>

<!-- Modal -->
<div id='modalParent' class='dontDisplay'>
    <div class="modal" style="display: block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Merci pour votre message</h4>
                </div>
                <div class="modal-body">
                    <h5>Nous reviendrons vers vous très prochainement !</h5><br>
                    Redirection en cours...
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function launchModal() {
        document.querySelector("#modalParent").classList.remove("dontDisplay");
        document.querySelector("#modalParent").classList.add("toDisplay");
    }

    function closeModal() {
        document.querySelector("#modalParent").classList.remove("toDisplay");
        document.querySelector("#modalParent").classList.add("dontDisplay");
    }
</script>
