{# {% extends 'base.html.twig' %} #}

{% block stylesheets %}
<style>
#edit-wrapper {
    height: 200px;
}

</style>
{% endblock %}
{% block body %}
    <div id="edit-wrapper">
        {{ include('admin_reservation/_form.html.twig', {'button_label': 'Update'}) }}

        {# <a id="edt-closer" onclick="restoreTable()" href="#">back to list</a> #}

    </div>
    {# <script>
    var button = document.getElementById('myButton');
    var parentUrl = window.frameElement.dataset.parentUrl; // Récupérer l'URL de la page parente depuis l'attribut de données

    button.addEventListener('click', function() {
        window.parent.postMessage('hideIframe', parentUrl);
    });
    </script> #}
{% endblock %}
