{# {% extends 'base.html.twig' %} #}

{% block stylesheets %}
<style>
    #edit-wrapper {
        height: 200px;
    }
</style>
{% endblock %}
{% block body %}
    <div id="edit-wrapper">
        {{ include('admin_reservation/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin_reservation/_delete_form.html.twig') }}
    </div>
{% endblock %}
