{% extends 'base.html.twig' %}
{% block body %}
    <ul>
        <li><a>Home</a></li>
        <li><a>Réservation</a></li>
        <li><a>Login</a></li>
        <li><a>Register</a></li>
        <li><a>Contact</a></li>

{% endblock %}